body {
    background-color: #efefef;
}
.main-banner {
    background: url("/assets/img/main-banner3-darken.jpg") no-repeat;
    height:75vh;
    background-size: cover;
}

.search-bar {
    margin-top: 40vh;
}

.search-bar-text {
    /* The sum of the properties below must be 100% */
    padding-left: 2% !important;
    width: 98% !important;
}

/* Front page searchbar underline */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #37474f !important;
    box-shadow: 0 1px 0 0 #37474f !important;
}

/* Front page email collector input underline */
.email-collector.input-field input[type=text]:focus {
    border-bottom: 1px solid #e51c23 !important;
    box-shadow: 0 1px 0 0 #e51c23 !important;
}

.align-with-input {
    margin-top: 15px;
    height: 3rem;
}

.align-el-under-input {
    margin-left:42px !important;
}

i.icon-left-in-input {
    margin-left: 40px;
}

input.icon-left-in-input {
    padding-left: 40px;
}

.input-field>input {
    border-radius: 2px !important;
}

.grey.normalize {
    background-color: #efefef
}

.ignore-padding-left {
    padding-left: 0px !important;
}

.ignore-padding-right {
    padding-right: 0px !important;
}

.med-vertical-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.prefix-active {
    color: red !important;
}